<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title or page.title }}</title>
    {% block head %}{% if extra_head %}{{ extra_head | safe }}{% endif %}{% endblock %}
  </head>
  <body class="mdc-typography">
    <p>
      {% for p in pages %}
        {% if p == current %}
          <strong>[{{ p }}]</strong>
        {% else %}
          <a href="/?page={{ p }}">{{ p }}</a>
        {% endif %}
        {% if not loop.last %} | {% endif %}
      {% endfor %}
      {% if sub %}
        &gt; <strong>{{ sub }}</strong>
      {% endif %}
    </p>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
